
<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Informed Replublic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="./app.js"></script>
    <script src="./controllers.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://www.chartjs.org/assets/Chart.js"></script>
    
    <script>
      $(document).ready(function() {
        var data =
        [
          {
            value:  2464,
            color:  '#F38630'
          },
          {
            value:  2245,
            color:  '#E0E4CC'
          },
          {
            value:  1726,
            color:  '#69D2E7'
          },
          {
            value:  453,
            color:  '#69D2E7'
          },
          {
            value:  330,
            color:  '#89F2E9'
          },
          {
            value:  205,
            color:  '#34D2F7'
          }
        ]
        
        var options =
        {
          segmentShowStroke   : true,
          segmentStrokeColor    : '#fff',
          segmentStrokeWidth    : 2, // pixels
          percentageInnerCutout : 50,
          
          animation       : true,
          animationSteps      : 60,
          animationEasing     : /*'easeOutBack'*/'easeOutQuart',
          animationRotate     : true,
          animateScale      : false,
          onAnimationComplete   : null
        }
        
        
        var ctx = document.getElementById('myDoughnutChart').getContext('2d');
        var myNewChart = new Chart(ctx);
        new Chart(ctx).Doughnut(data, options);
      });
      
      </script>


    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      #myDoughnutChart
      {
        position: relative;
        top: 60px;
        margin-top: 0px;
      }

      .legend
      {
        position: relative;
        top: -98px;
        left: 135px;
      }

      .circle
      {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-bottom: 0px;
        margin-left: 20px;
      }

      ol, ul {
        list-style: none;
      }

      #key_circle_1{background-color: #F38630;}
      #key_circle_2{background-color: #E0E4CC;}
      #key_circle_3{background-color: #69D2E7;}
      #key_circle_4{background-color: #69D2E7;}
      #key_circle_5{background-color: #89F2E9;}
      #key_circle_6{background-color: #34D2F7;}

      .key_text
      {
        position: relative;
        top: -15px;
        margin-top: -90px;
        font-family: Helvetica;
        font-size: 12px;
        margin-left: 40px;
      }
    </style>
  </head>
  <body>
<!--     <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Congress votes today on a bill.
    </div> -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Informed Republic</a>
            <div class="nav-collapse pull-right">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="span4">
            <div class="row">
              <div class="span4">
                <h4>Affiliation:</h4>
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>LIBERAL DEMOCRAT</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> <!-- END COLUMN ROW -->
            <div class="row">
              <div class="span4" ng-controller="IssuesListCtrl">
                <h4>Your Issues:</h4>
                <table class="table table-condensed">
                  <tbody>
                    <tr ng-repeat="issue in issues">
                      <td>
                        {{issue.Name}}
                        <br>
                        <div class="progress {{issue.ProgressStyle}}">
                          <div class="bar" style="width: {{issue.Hotness}}%"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> <!-- END COLUMN ROW -->
            <div class="row">
              <div class="wrapper span4">
                <h4>Your Tax Spending:</h4>
                <canvas id="myDoughnutChart" width="150" height="150"></canvas>
                <div class="legend">
                  <ul>
                    <li><div id="key_circle_1" class="circle"></div><span class="key_text">National Defense</span></li>
                    <li><div id="key_circle_2" class="circle"></div><span class="key_text">Healthcare</span></li>
                    <li><div id="key_circle_3" class="circle"></div><span class="key_text">Family Security</span></li>
                    <li><div id="key_circle_4" class="circle"></div><span class="key_text">Education</span></li>
                    <li><div id="key_circle_5" class="circle"></div><span class="key_text">Veteran Benefits</span></li>
                    <li><div id="key_circle_6" class="circle"></div><span class="key_text">Energy &amp; Environment</span></li>
                  <ul>
                </div>
              </div>
            </div>
          </div> <!-- END SPAN 4 -->
          <div class="span8">
            <div class="row">
              <div class="span9" ng-controller="ActionsListCtrl">
                <h4>Take Action:</h4>
                <p style = "border:1px solid gray;">
                  <a href="{{action.Link}}" >
                    <img class="img-polaroid" width=75 src="{{action.UrlImage}}">
                    {{action.Text}}
                  </a>
                </p>
                <div class="pull-right">
                  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                      Previous
                  </button>
                  {{currentPage+1}}/{{numberOfPages()}}
                  <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                      Next
                  </button>
                </div>
              </div>
            </div> <!-- END COLUMN ROW -->
            <div class="row">
              <div class="span8">
                <h4>Issue tracker:</h4>
                <table class="table table-hover" ng-controller="AlertsListCtrl">
                  <tbody>
                    <tr ng-repeat="alert in alerts">
                      <td><img class="img-rounded" width=100 src="{{alert.UrlImage}}"> {{alert.Text}}</td>
                      <!-- <td><a href="{{alert.Link}}" class="btn btn-warning">Learn More...</a></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> <!-- END COLUMN ROW -->
            <div class="row-fluid" ng-controller="PlayersListCtrl">
              <h4>Players</h4>
              <ul class="thumbnails">
                <li class="span3" ng-repeat="player in players">
                  <div class="thumbnail">
                    <img class="img-rounded" width=200 height=200 src="{{player.UrlImage}}" alt="">
                    <div class="caption">
                      <h4>{{player.Name}}</h4>
                      <p>{{player.Text}}</p>
                      <p><a href="{{player.Link}}" class="btn">Learn More...</a></p>
                    </div>
                  </div>
                </li>
              </ul>
            </div> <!-- END COLUMN ROW -->
          </div> <!-- END SPAN 8 -->
        </div> <!-- END MAJOR ROW -->
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="./assets/js/bootstrap.js"></script>
    <script src="./assets/js/holder.js"></script>
    <script>
      // $( 'body' ).on( 'click', '#fooBtnGroup .btn', function(event) {
      //     event.stopPropagation(); // prevent default bootstrap behavior
      //     if( $(this).attr('data-toggle') != 'button' ) { // don't toggle if data-toggle="button"
      //         $(this).toggleClass('active');
      //     }
      //     alert( $(this).hasClass( 'active' ) ); // button state AFTER the click
      // });
    </script>

  </body>
</html>
