
<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Informed Replublic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
    <script src="./app.js"></script>
    <script src="./controllers.js"></script>

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

    </style>
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Congress votes today on a bill.
    </div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Informed Republic</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="span4" ng-controller="IssuesListCtrl">
          <h3>Your Issues</h3>
          <table class="table table-condensed">
            <tbody>
              <tr ng-repeat="issue in issues">
                <td><i class="{{issue.Hotness}}"></i></td>
                <td>{{issue.Name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="span8">
          <div class="row">
            <div class="span8">
              <h3>Alerts</h3>
              <table class="table table-hover" ng-controller="AlertsListCtrl">
                <tbody>
                  <tr ng-repeat="alert in alerts">
                    <td><img class="img-polaroid" width=100 src="{{alert.UrlImage}}"> {{alert.Text}}</td>
                    <td><a href="{{alert.Link}}" class="btn btn-warning">Learn More...</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- end row -->
          <div class="row">
            <div class="span9" ng-controller="ActionsListCtrl">
              <div class="caption">
                <h3>Take Action</h3>
                <div style="background-color: #cccccc;" ng-repeat="action in actions">
                  <img class="img-polaroid" width=200 src="{{action.UrlImage}}">
                  {{action.Text}}
                  <a href="{{alert.Link}}" class="btn btn-inverse">Learn More...</a>
                <div>
              </div>
            </div>
          </div> <!-- end row -->
          <div class="row-fluid" ng-controller="PlayersListCtrl">
            <h3>Players</h3>
            <ul class="thumbnails">
              <li class="span3" ng-repeat="player in players">
                <div class="thumbnail">
                  <img src="{{player.UrlImage}}" alt="">
                  <div class="caption">
                    <h4>{{player.Name}}</h4>
                    <p>{{player.Text}}</p>
                    <p><a href="{{player.Link}}" class="btn">Learn More...</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="./assets/js/bootstrap.js"></script>
    <script src="./assets/js/holder.js"></script>
    <script>
      // $( 'body' ).on( 'click', '#fooBtnGroup .btn', function(event) {
      //     event.stopPropagation(); // prevent default bootstrap behavior
      //     if( $(this).attr('data-toggle') != 'button' ) { // don't toggle if data-toggle="button"
      //         $(this).toggleClass('active');
      //     }
      //     alert( $(this).hasClass( 'active' ) ); // button state AFTER the click
      // });
    </script>

  </body>
</html>
